.AboutUs {
  max-height: 110vh;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  overflow: hidden;
  background: url("../assets/whiteBg.avif");
  background-size: cover;
  background-position: center center;
  position: relative; /* Add this line */
}

  
  
  .about-content {
    text-align: center;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: -1rem;
  }

  
  

  .slime-bubble {
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #252422;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    /* Animation */
    animation-name: float;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transition: all 0.3s ease;
  }

  .slime-bubble h2{
    font-size: 1.7rem;
    margin: 1rem;
  }
  
  .slime-bubble:before,
  .slime-bubble:after {
    content: "";
    position: absolute;
    width: 140%;
    height: 140%;
    border-radius: 50%;
    z-index: -1;
    animation: pulse 3s infinite;
  }
  
  .slime-bubble:before {
    animation-delay: 0.5s;
  }
  
  .slime-bubble:after {
    animation-delay: 1s;
  }
  
  .slime-bubble:hover {
    transform: scale(1.3);
    z-index: -1;
  }


 
  
  @keyframes pulse {
    0% {
      transform: scale(0);
      opacity: 0.5;
    }
    50% {
      transform: scale(2);
      opacity: 0.2;
    }
    100% {
      transform: scale(0);
      opacity: 0.5;
    }
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .about-title {
    position: relative;
  }
  

  
  .video-container {
    display: flex;
    margin-top: 4rem;
  }
  
  .about-video {
    width: 100%;
    max-width: 270px;
    padding-bottom: 100%;
    padding-left: 2rem;
    bottom: 0;
    z-index: 1;
  }
  
  .corner-containervd {
   margin: 2rem;
    display: flex;
    justify-content: flex-end;
    z-index: 2;

  }
  
  .corner-video {
    width: 100%;
    max-width: 270px;
    padding-top: 100%;
    z-index: 1;
    margin-bottom: 3rem;
  }






  @media (max-width: 1200px) {
      
    .video-container {
      margin-left: 4rem;
      max-width: 200px;
    }
  
    .slime-bubble {
      width: 110px;
      height: 110px;
    }

    .slime-bubble.green{
      margin-top: 1.5rem;
      margin-bottom: 0.3rem;
    }

    .slime-bubble.violet{
        margin-top: 0.3rem ;
        margin-bottom: 0.3rem;
    }

    .slime-bubble h2{
        font-size: 1.3rem;
      }

      .slime-bubble h2:hover {
        font-size: 1.4rem;
       }  
      
        .about-content {
      padding: 0rem;
      margin-left: 1rem;
      margin-right: 1rem;

    }

     .about-video{
        margin-bottom: 0rem;
        
     }


     .video-container {
        max-width: 210px;
        z-index: -1;
      }

      .AboutUs p {
        font-size: 1rem;
      }

      .corner-containervd{
        margin-right: 2rem;
      }
    
      .corner-video{
        width: 100%;
        max-width: 210px;
      }
  }


  
  @media (max-width: 900px) {
    .AboutUs {
      flex-direction: column;
      max-height:fit-content;
    }
  
    .about-content {
      padding: 1rem; 
      margin-left: 2rem;
      margin-right: 2rem;
    }
  
    .about-content p {
      margin-left: 1.5rem;
      margin-right: 1.5rem; 
    }
  
    .imgAbout {
      max-height: 100px;
      margin-top: -2rem;
    }    

    .about-video{
        margin-bottom: 0rem;
        padding-bottom: 1rem;
        position: relative;
      display: flex;
      justify-content: center; /* Center the video horizontally */
      align-items: center; /* Center the video vertically */
     }
  
    .video-container {
      margin-bottom: -6rem;
      margin-top: 0;
      max-width: 170px;
      z-index: -1;
    }    
  
    .AboutUs p {
      font-size: 1rem;
    }

    .corner-video{
      max-width: 170px;
      margin-left: 1rem;
      margin-bottom: -0.3rem;
      padding-top: 1rem;
    }

  

  }
  