.ContactUs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 768px) {
  .ContactUs,
  .bg {
    padding: 0;
    margin: 0;
  }
}

/*
Video into stripe
.ContactUs {
  position: relative;
  width: 100%;
  height: 100vh;
}

.ContactUs .contacts-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: left top;
}

.ContactUs .contactUs-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 200px);
}

*/
